<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>

<h2>Product List</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td>
            <img th:src="@{'/images/' + ${product.imagePath}}" th:alt="${product.name}" th:title="${product.imagePath}" />
        </td>
        <td>
            <a th:href="@{/products/edit/{id}(id=${product.id})}" >Edit</a>
        </td>
        <td>
            <a th:href="@{/products/delete/{id}(id=${product.id})}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/products/form}">Add New Product</a>

</body>
</html>
